.single-products-box {
    position: relative;
    margin-bottom: 30px;

    .products-image {
        text-align: center;
        position: relative;
        overflow: hidden;

        a {
            position: relative;
            display: block;

            img {
                transition: all 1.5s cubic-bezier(0,0,.2,1);
            }
        }
        .sale-tag {
            top: 20px;
            z-index: 2;
            left: 20px;
            width: 55px;
            height: 55px;
            line-height: 55px;
            text-align: center;
            border-radius: 50%;
            position: absolute;
            background-color: red;
            color: var(--whiteColor);
            text-transform: uppercase;
            font: {
                weight: 700;
                size: 14px;
            };
        }
        .new-tag {
            top: 20px;
            z-index: 2;
            right: 20px;
            padding: 1px 7px;
            text-align: center;
            position: absolute;
            color: var(--whiteColor);
            text-transform: uppercase;
            background-color: green;
            font: {
                weight: 700;
                size: 14px;
            };
        }
    }
    .products-content {
        margin-top: 25px;
        position: relative;

        h3 {
            margin-bottom: 0;
            font-size: 18px;
        }
        .price {
            margin-top: 13px;
            font: {
                size: 14px;
                weight: 600;
            };
            .old-price {
                text-decoration: line-through;
                margin-right: 5px;
                color: #999999;
                font-weight: 600;
            }
        }
        .add-to-cart {
            right: 0;
            bottom: 0;
            position: absolute;
            display: inline-block;
            text-transform: uppercase;
            color: var(--optionalColor);
            transition: var(--transition);
            font: {
                size: 14px;
                weight: 600;
            };
            &:hover {
                color: var(--mainColor);
            }
        }
    }
    &:hover {
        .products-image {
            a {
                img {
                    transform: scale3d(1.1, 1.1, 1.1) translateZ(0);
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .single-products-box {
        .products-content {
            h3 {
                font-size: 15px;
            }
            .price {
                font-size: 14px;
            }
            .add-to-cart {
                font-size: 13px;
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {



}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .single-products-box {
        .products-content {
            h3 {
                font-size: 16px;
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {



}

/* Min width 1200px to Max width 1355px */
@media only screen and (min-width: 1200px) and (max-width: 1355px) {



}

/* Min width 1550px */
@media only screen and (min-width: 1550px) {

    

}

.search-box {
    width: 330px;
    margin-left: 60px;
    position: relative;

    label {
        display: block;
        margin-bottom: 0;
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        color: var(--mainColor);
        font-size: 20px;
        margin-top: 1px;
    }
    .input-search {
        display: block;
        width: 100%;
        background-color: #f2f2f2;
        height: 45px;
        border: none;
        font-size: 14px;
        color: var(--blackColor);
        padding-left: 45px;
        border-radius: 3px;

        &::placeholder {
            transition: var(--transition);
            color: var(--optionalColor);
        }
        &:focus {
            &::placeholder {
                color: transparent;
            }
        }
    }
}